<link rel="stylesheet" href="../src/styles/charging.css">
<div class="dashboard" ng-controller="positronCtrl">
    <video autoplay muted loop id="myVideo" ng-init="charging()">
        <source src="../src/images/charging.mp4" type="video/mp4">
    </video>
</div>